node_modules

**/*.log
**/*.tsbuildinfo

**/*.js
**/*.d.ts
**/*.map

!**/scripts/**/*.js
scripts/src/changelog.js
!**/types/**/*.d.ts

# yarn ignores
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/plugins/*.cjs
!.yarn/releases
# Prevent yarn releases to be ignored by earlier filter
!.yarn/releases/*.cjs
!.yarn/sdks
!.yarn/versions
