name: Integrate

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: integrate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # 20 is in Maintenance until April 2026.
        # 22 is Active until October 2025, Maintenance until April 2027.
        # 24 is Current from April 2025 to October 2025, then Active until October 2026, Maintenance until April 2028.
        # 26 will be Current in April 2026.
        # https://nodejs.org/en/about/previous-releases
        node: [ 20, 22, 24 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache:
            yarn
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      - run: >
          yarn config set
          npmScopes.siteimprove.npmAuthToken
          ${{ secrets.GITHUB_TOKEN }}
      - run: yarn install --immutable
      - name: Install Playwright browsers
        # https://playwright.dev/docs/ci-intro
        run: yarn workspace @siteimprove/alfa-playwright playwright install

      - run: yarn dedupe --check
      - run: yarn build --quiet
      - run: yarn test-main
      - run: yarn test-other
      - run: yarn validate-structure
      - run: yarn extract --quiet
      - run: yarn knip
